body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f9ff;
  color: #333;
}

header {
  background-color: #0066cc;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

.form-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  font-size: 16px;
}

.hasil {
  text-align: center;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.beli {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

footer {
  background-color: #0066cc;
  color: white;
  text-align: center;
  padding: 20px 10px;
}
